.HeaderDiv{
  padding: 5% 2% 2% 5%;
}

.Header{
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  float: left;
  /* justify-content: center; */
  font-size: calc(2px + 4vmin);
  color: white;
  padding-top: 5%;
  
  
}

.vertical{
  /* display: block; */
  border-left: 1px solid #ccc;
  height: 500px;
  float: left;
  margin-left: 90px;
  vertical-align: middle;
}

.heading{
  /* padding-bottom: 5px; */
  size: 20px;
  margin: 0;
  padding-top: 15px;
}

.gitLogo{
    padding-top: 25%;
    /* padding-bottom: 1.0%; */
  }