.HeaderDiv{
  padding-bottom: 2%;
}

.Header{
    min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 4vmin);
  color: white;
}

.gitLogo{
    padding-top: 6%;
    padding-bottom: 1.5%;
  }